<div>
<h1>Welcome </h1>
<p>International Journal of Heat and Technology (IJHT) is an international, scholarly and peer-reviewed journal dedicated to providing scientists, engineers and technicians with the latest developments on heat transfer, fluid dynamics and thermodynamics, as well as their industrial applications. In addition to these focal points, the IJHT covers all kinds of subjects related to heat and technology, including but not limited to turbulence, combustion, cryogenics, porous media, multiphase flow, radiative transfer, heat and mass transfer, micro- and nanoscale systems, and thermophysical property measurement. The editorial board encourages the authors from all countries to submit papers on the relevant issues, especially those aimed at the practitioner as much as the academic. The papers should further our understanding of the said subjects, and make a significant original contribution to knowledge.</p>





</div>
<router-outlet></router-outlet>